{% extends "core/layouts/base.html" %}
{% block head_title %}
Pardner Demo Site
{% endblock %}
{% block content %}
<main class="homepage">
  <section class="content-box">
    <h2>What is this? How does it work?</h2>
    <p>This is a demo of what a data donation website looks like out of the box when you download <a href="https://github.com/dtinit/pardner-site">the Pardner site.</a></p>
    <p>You may customize this site for your own donation purposes, or extend the library created by the <a href="https://dtinit.org">Data Transfer Initiative</a> for use for your own data donation solicitation needs. The <a href="https://github.com/dtinit/pardner">open source library</a> currently supports donations of data from Tumblr.</p>
    <p>
      If you have any questions, <a href="https://dtinit.org/contact-us">contact the Data Transfer Initiative.</a>
    </p>
  </section>
  <section>
    <h2>Example Studies Seeking Data</h2>
    <ul class="study-list">
      {% for study in studies %}
      <li class="study-list-item">
          {% include "core/fragments/study.html" with has_link_in_title=True %}
      </li>
      {% endfor %}
    </ul>
  </section>
</main>
{% endblock %}
