{% extends "core/layouts/base.html" %}
{% block head_title %}
Pardner Demo Site
{% endblock %}
{% block content %}
<main class="homepage">
  <section class="content-box">
    <h2>What is this? How does it work?</h2>
    <p>This is a demo of what a data donation website looks like out of the box when you download <a href="https://github.com/dtinit/pardner-site">the Pardner site.</a></p>
    <p>You may customize this site for your own donation purposes, or extend the library created by the <a href="dtinit.org">Data Trust Registry</a> for use for your own data donation solicitation needs. The Data Trust Registry library currently supports donations of data from Tumblr.</p>
    <p>
      If you have any questions, <a href="https://dtinit.org/contact-us">contact the Data Trust Registry.</a>
    </p>
  </section>
  <section>
    <h2>Example Studies Seeking Data</h2>
    <ul class="study-list">
      {% for study in studies %}
      <li class="study content-box">
        <article>
          <h3><a href="{% url 'study_detail' study_id=study.id %}">{{ study.name }}</a></h3>
          <p>Author(s): {{ study.authors }}</p>
          <p>
            {% if study.description %}
            {{ study.description }}
            {% else %}
            <i>No description provided</i>
            {% endif %}
          </p>
          <div class="study__request">
            <div>
              Seeking donated data from <strong>Tumblr</strong>
              <br />
              <strong>Requesting access to the following</strong>
              <ul>
                <li>Post history</li>
                <li>Comment history</li>
              </ul>
            </div>
            <button class="button button--primary" data-modal-trigger-for="{% url 'study_donation_modal' study_id=study.id %}">Donate Data</button>
          </div>
        </article>
      </li>
      {% endfor %}
    </ul>
  </section>
  <section>
    
  </section>
</main>
{% endblock %}
