{% extends "core/layouts/base.html" %}
{% block head_title %}
Pardner Demo Site
{% endblock %}
{% block content %}
<main class="homepage">
  <section class="content-box">
    <h2>What is this? How does it work?</h2>
    <p>This is a demo of what a data donation website looks like out of the box when you download <a href="https://github.com/dtinit/pardner-site">the Pardner site.</a></p>
    <p>You may customize this site for your own donation purposes, or extend the library created by the <a href="https://dtinit.org">Data Transfer Initiative</a> for use for your own data donation solicitation needs. The <a href="https://github.com/dtinit/pardner">open source library</a> currently supports donations of data from Tumblr.</p>
    <p>
      If you have any questions, <a href="https://dtinit.org/contact-us">contact the Data Transfer Initiative.</a>
    </p>
  </section>
  <section>
    <div class="homepage--studies-list-header">
      <h2>Example Studies Seeking Data</h2>
      <div class="homepage--studies-list-header-selection-area">
        <p><strong>Requested Services:</strong></p>
        <form action="" method="get">
          <select
            class="homepage--studies-list-header-dropdown"
            name="filtered_service_name"
          >
            <option
              value=""
              {% if not default_service_name %}selected="selected"{% endif %}
            >All</option>
            <hr />
            {% for service_name in service_names %}
              <option
                value="{{ service_name }}"
                {% if default_service_name and default_service_name == service_name %}
                  selected="selected"
                {% endif %}
              >{{ service_name | title }}</option>
            {% endfor %}
          </select>
        </form>
      </div>
    </div>
    <ul class="study-list">
      {% include "core/fragments/study_list_items.html" %}
    </ul>
  </section>
</main>
{% endblock %}
