{% load study_extras %}
<section class="content-box">
    <article>
        <h3>
            {% if has_link_in_title %}
            <a href="{% url 'study_detail' study_id=study.id %}">{{ study.name }}</a>
            {% else %}
            {{ study.name }}
            {% endif %}
        </h3>
        <p>Author(s): {{ study.authors }}</p>
        <p>
            {% if study.description %}
            {{ study.description | linebreaksbr }}
            {% else %}
            <i>No description provided</i>
            {% endif %}
        </p>
        <br />
        <p>Seeking donated data from:</p>
        <div class="service-list">
            {% for service in study.services.all %}
                {% render_study_service %}
            {% endfor %}
        </div>
    </article>
</section>
