<section class="content-box">
    <article>
        <h3>
            {% if has_link_in_title %}
            <a href="{% url 'study_detail' study_id=study.id %}">{{ study.name }}</a>
            {% else %}
            {{ study.name }}
            {% endif %}
        </h3>
        <p>Author(s): {{ study.authors }}</p>
        <p>
            {% if study.description %}
            {{ study.description | linebreaksbr }}
            {% else %}
            <i>No description provided</i>
            {% endif %}
        </p>
        <br />
        <p>Seeking donated data from:</p>
        <div class="service-list">
            {% for service in study.services.all %}
            <div class="service">
                <div>
                    <p><strong>{{ service.name | title }}</strong></p>
                    <br />
                    <ul>
                        {% for vertical in service.verticals.all %}
                        <li>{{ vertical.name | capfirst }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <button class="button button--primary" data-modal-trigger-for="{% url 'study_donation_modal' study_id=study.id service_id=service.id %}">Donate Data</button>
            </div>
            {% endfor %}
        </div>
    </article>
</section>
